---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ========================================================================== SIDEBAR ========================================================================== */
/* Default ========================================================================== */
.sidebar { clear: both; }
.sidebar::after { clear: both; content: ""; display: table; }
@media (min-width: 64em) { .sidebar { float: left; width: calc(200px - 1em); opacity: 0.80; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
  .sidebar:hover { opacity: 1; }
  .sidebar.sticky { overflow-y: auto; /* calculate height of nav list viewport height - nav height - masthead x-padding
*/ max-height: calc(100vh - 1em - 1em); } }
@media (min-width: 80em) { .sidebar { width: calc(300px - 1em); } }
.sidebar > * { margin-top: 1em; margin-bottom: 1em; }
.sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 { margin-bottom: 0; font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; }
.sidebar p, .sidebar li { font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; font-size: 0.75em; line-height: 1.5; }
.sidebar img { width: 100%; }
.sidebar img.emoji { width: 20px; height: 20px; }

.sidebar__right { margin-bottom: 1em; }
@media (min-width: 64em) { .sidebar__right { position: absolute; top: 0; right: 0; width: 100px; margin-right: -200px; padding-left: 0em; z-index: 10; }
  .sidebar__right.sticky { clear: both; position: -webkit-sticky; position: sticky; top: 2em; float: right; }
  .sidebar__right.sticky::after { clear: both; content: ""; display: table; }
  .sidebar__right.sticky .toc .toc__menu { overflow-y: auto; max-height: calc(100vh - 7em); } }
@media (min-width: 80em) { .sidebar__right { width: 230px; margin-right: -220px; } }

@media (min-width: 64em) { .splash .sidebar__right { position: relative; float: right; margin-right: 0; } }
@media (min-width: 80em) { .splash .sidebar__right { margin-right: 0; } }

/* Layout specific */
/* ========================================================================== SINGLE PAGE/POST ========================================================================== */
#main { clear: both; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; max-width: 100%; -webkit-animation-delay: 0.15s; animation-delay: 0.15s; }
#main::after { clear: both; content: ""; display: table; }
@media (min-width: 80em) { #main { max-width: 1320px; } }

body { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: 100vh; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.initial-content, .search-content { flex: 1 0 auto; }

@media (min-width: 64em) { .page { float: right; width: calc(100% - 200px); padding-right: 170px; } }
@media (min-width: 80em) { .page { width: calc(100% - 290px); padding-right: 200px; } }
.page .page__inner-wrap { float: left; margin-top: 1em; margin-left: 0; margin-right: 0; width: 100%; clear: both; }
.page .page__inner-wrap .page__content, .page .page__inner-wrap .page__meta, .page .page__inner-wrap .comment__date, .page .page__inner-wrap .page__share { position: relative; float: left; margin-left: 0; margin-right: 0; width: 100%; clear: both; }

.page__title { margin-top: 0; line-height: 1; }
.page__title a { color: #3d4144; text-decoration: none; }
.page__title + .page__meta, .page__title + .comment__date { margin-top: -0.5em; }

.page__lead { font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; font-size: 1.25em; }

.page__content { /* paragraph indents */ /* blockquote citations */ }
.page__content h2 { padding-bottom: 0.5em; border-bottom: 1px solid #f2f3f3; }
.page__content h1 .header-link, .page__content h2 .header-link, .page__content h3 .header-link, .page__content h4 .header-link, .page__content h5 .header-link, .page__content h6 .header-link { position: relative; left: 0.5em; opacity: 0; font-size: 0.8em; -webkit-transition: opacity 0.2s ease-in-out 0.1s; -moz-transition: opacity 0.2s ease-in-out 0.1s; -o-transition: opacity 0.2s ease-in-out 0.1s; transition: opacity 0.2s ease-in-out 0.1s; }
.page__content h1:hover .header-link, .page__content h2:hover .header-link, .page__content h3:hover .header-link, .page__content h4:hover .header-link, .page__content h5:hover .header-link, .page__content h6:hover .header-link { opacity: 1; }
.page__content p, .page__content li, .page__content dl { font-size: 1em; }
.page__content p { text-align: justify; /* added here */ margin: 0 0 1.3em; /* sibling indentation*/ }
.page__content a:not(.btn):hover { text-decoration: underline; }
.page__content a:not(.btn):hover img { box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
.page__content :not(pre) > code { padding-top: 0.1rem; padding-bottom: 0.1rem; font-size: 0.8em; background: #fafafa; border-radius: 4px; }
.page__content :not(pre) > code::before, .page__content :not(pre) > code::after { letter-spacing: -0.2em; content: "\00a0"; /* non-breaking space*/ }
.page__content dt { margin-top: 1em; font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; font-weight: bold; }
.page__content dd { margin-left: 1em; font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; font-size: 0.75em; }
.page__content .small { font-size: 0.75em; }
.page__content blockquote + .small { margin-top: -1.5em; padding-left: 1.25rem; }

.page__hero { position: relative; margin-bottom: 0.1em; clear: both; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.page__hero::after { clear: both; content: ""; display: table; }
.page__hero--overlay { position: relative; margin-bottom: 0em; padding: 3em 0; clear: both; background-size: cover; background-repeat: no-repeat; background-position: center; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.page__hero--overlay::after { clear: both; content: ""; display: table; }
.page__hero--overlay a { color: #fff; }
.page__hero--overlay .wrapper { padding-left: 1em; padding-right: 1em; }
@media (min-width: 80em) { .page__hero--overlay .wrapper { max-width: 1280px; } }
.page__hero--overlay .page__title, .page__hero--overlay .page__meta, .page__hero--overlay .comment__date, .page__hero--overlay .page__lead, .page__hero--overlay .btn { color: #fff; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }
.page__hero--overlay .page__lead { max-width: 768px; }
.page__hero--overlay .page__title { font-size: 1.953em; }
@media (min-width: 37.5em) { .page__hero--overlay .page__title { font-size: 2.441em; } }

.page__hero-image { width: 100%; height: auto; -ms-interpolation-mode: bicubic; }

.page__hero-caption { position: absolute; bottom: 0; right: 0; margin: 0 auto; padding: 2px 5px; color: #fff; font-family: Georgia, Times, serif; font-size: 0.6875em; background: #000; text-align: right; z-index: 5; opacity: 0.5; border-radius: 4px 0 0 0; }
@media (min-width: 64em) { .page__hero-caption { padding: 5px 10px; } }
.page__hero-caption a { color: #fff; text-decoration: none; }

/* Figures and images */
figure { display: -webkit-box; display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: start; align-items: flex-start; flex-wrap: wrap; margin: 0em 0; }
figure img, figure iframe, figure .fluid-width-video-wrapper { margin-bottom: 1em; }
figure img { width: 100%; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
figure > a { display: block; }
@media (min-width: 37.5em) { figure.half > a, figure.half > img { width: calc(50% - 0.5em); } }
figure.half figcaption { width: 100%; }
@media (min-width: 37.5em) { figure.third > a, figure.third > img { width: calc(33.3333% - 0.5em); } }
figure.third figcaption { width: 100%; }

/* ========================================================================== ARCHIVE ========================================================================== */
.archive { margin-top: 1em; margin-bottom: 2em; }
@media (min-width: 64em) { .archive { float: right; width: calc(100% - 200px); padding-right: 280px; } }
@media (min-width: 80em) { .archive { width: calc(100% - 220px); padding-right: 200px; } }

.archive__item { position: relative; }
.archive__item a { position: relative; z-index: 10; }
.archive__item a[rel="permalink"] { position: static; }

.archive__subtitle { margin: 1.414em 0 0.5em; padding-bottom: 0.5em; font-size: 1em; color: #646769; border-bottom: 1px solid #f2f3f3; }
.archive__subtitle + .list__item .archive__item-title { margin-top: 0.5em; }

.archive__item-title { margin-bottom: 0.25em; font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; line-height: initial; overflow: hidden; text-overflow: ellipsis; }
.archive__item-title a[rel="permalink"]::before { content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.archive__item-title a + a { opacity: 0.5; }

/* ========================================================================== MASTHEAD ========================================================================== */
.masthead { position: relative; border-bottom: 1px solid #f2f3f3; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; -webkit-animation-delay: 0.15s; animation-delay: 0.15s; z-index: 20; }
.masthead__inner-wrap { clear: both; margin-left: auto; margin-right: auto; padding: 1em; max-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; }
.masthead__inner-wrap::after { clear: both; content: ""; display: table; }
@media (min-width: 80em) { .masthead__inner-wrap { max-width: 960px; } }
.masthead__inner-wrap nav { z-index: 10; }
.masthead__inner-wrap a { text-decoration: none; }

.site-logo img { max-height: 2rem; }

.site-title { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: center; align-self: center; font-weight: bold; }

.site-subtitle { display: block; font-size: 0.625em; }

.masthead__menu { float: left; margin-left: 0; margin-right: 0; width: 100%; clear: both; }
.masthead__menu .site-nav { margin-left: 0; }
@media (min-width: 37.5em) { .masthead__menu .site-nav { float: right; } }
.masthead__menu ul { margin: 0; padding: 0; clear: both; list-style-type: none; }

.masthead__menu-item { display: block; list-style-type: none; white-space: nowrap; }
.masthead__menu-item--lg { padding-right: 2em; font-weight: 700; }

/* ========================================================================== NAVIGATION ========================================================================== */
/* Breadcrumb navigation links ========================================================================== */
.breadcrumbs { clear: both; margin: 0 auto; max-width: 100%; padding-left: 1em; padding-right: 1em; font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.breadcrumbs::after { clear: both; content: ""; display: table; }
@media (min-width: 80em) { .breadcrumbs { max-width: 1280px; } }
.breadcrumbs ol { padding: 0; list-style: none; font-size: 0.75em; }
@media (min-width: 64em) { .breadcrumbs ol { float: right; width: calc(100% - 200px); } }
@media (min-width: 80em) { .breadcrumbs ol { width: calc(100% - 270px); } }
.breadcrumbs li { display: inline; }
.breadcrumbs .current { font-weight: bold; }

/* ========================================================================== PRINT STYLES ========================================================================== */
@media print { [hidden] { display: none; }
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  html { margin: 0; padding: 0; min-height: auto !important; font-size: 16px; }
  body { margin: 0 auto; background: #fff !important; color: #000 !important; font-size: 1rem; line-height: 1.5; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
  h1, h2, h3, h4, h5, h6 { color: #000; line-height: 1.2; margin-bottom: 0.75rem; margin-top: 0; }
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.75rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.25rem; }
  h6 { font-size: 1rem; }
  a, a:visited { color: #000; text-decoration: underline; word-wrap: break-word; }
  table { border-collapse: collapse; }
  thead { display: table-header-group; }
  table, th, td { border-bottom: 1px solid #000; }
  td, th { padding: 8px 16px; }
  img { border: 0; display: block; max-width: 100% !important; vertical-align: middle; }
  hr { border: 0; border-bottom: 2px solid #bbb; height: 0; margin: 2.25rem 0; padding: 0; }
  dt { font-weight: bold; }
  dd { margin: 0; margin-bottom: 0.75rem; }
  abbr[title], acronym[title] { border: 0; text-decoration: none; }
  table, blockquote, pre, code, figure, li, hr, ul, ol, a, tr { page-break-inside: avoid; }
  h2, h3, h4, p, a { orphans: 3; widows: 3; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid; }
  h1 + p, h2 + p, h3 + p { page-break-before: avoid; }
  img { page-break-after: auto; page-break-before: auto; page-break-inside: avoid; }
  pre { white-space: pre-wrap !important; word-wrap: break-word; }
  a[href^='http://']:after, a[href^='https://']:after, a[href^='ftp://']:after { content: " (" attr(href) ")"; font-size: 80%; }
  abbr[title]:after, acronym[title]:after { content: " (" attr(title) ")"; }
  #main { max-width: 100%; }
  .page { margin: 0; padding: 0; width: 100%; }
  .page-break, .page-break-before { page-break-before: always; }
  .page-break-after { page-break-after: always; }
  .no-print { display: none; }
  a.no-reformat:after { content: ''; }
  abbr[title].no-reformat:after, acronym[title].no-reformat:after { content: ''; }
  .page__hero-caption { color: #000 !important; background: #fff !important; opacity: 1; }
  .page__hero-caption a { color: #000 !important; }
  /* Hide the following elements on print ========================================================================== */
  .masthead, .toc, .page__share, .page__related, .pagination, .ads, .page__footer, .page__comments-form, .author__avatar, .author__content, .author__urls-wrapper, .nav__list, .sidebar, .adsbygoogle { display: none !important; height: 1px !important; } }

/* links */
a {
  color: 003153; text-decoration: none;
}

